In [ ]:
pip install pandas

In [ ]:
import pandas as pd

In [ ]:
# Series(pandas에서 1차원 데이터 구조로, 인덱스를 함께 저장) 생성
data = [10, 20, 30, 40]
series = pd.Series(data) #리스트를 series로 변환
print("Series : \n", series)

# 특정 값 참조
print("첫 번째 값 : ", series[0])

In [ ]:
# 딕셔너리를 사용해 DataFrame 생성
data = {
    "이름":["김철수", "이영희", "박민수"],
    "수학":[85, 90, 78],
    "영어":[88, 84, 95]
}
df = pd.DataFrame(data)
# (1) print()로 출력
print("print()로 출력:")
print(df)

# (2) DataFrame 형태로 출력 (인터랙티브 환경에서)
print("\nDataFrame 형태로 출력:")
df